.app {
  margin: 20px;
  padding: 20px;
  justify-content: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.text {
  font-weight: bold;
  color: black;
  font-size: 40px;
}

.row {
  padding-top: 50px;
}

.icon {
  padding-top: 100px;
}

.companyName {
  padding: 5px;
}
.name {
  padding: 15px;
}
.email {
  padding: 15px;
}
.password {
  padding: 15px;
}
.logPass {
  padding: 15px;
}
.logPass {
  padding: 15px;
}
.ccLog {
  color: cadetblue;
  display: block;
}
.btnLog {
  background-color: #00c0da !important;
  color: aliceblue !important;
}
.btnChange {
  background-color: #00c0da !important;
  color: aliceblue !important;
}
